
table{
    border-collapse: collapse;
    width: 70%;
    font-size: 20px;
    text-align: center;
    border-color: lightgreen;
    font-weight: bold;
    margin: 0 auto;
}
tr{
    height: 40px;
}
.xanh{
    background-color: #45f554;
    color: white;
}
.xanhnhat{
    background-color: #c0f5c6;
}
.do{
    font-size: 20px;
    color: red;
}
.cot3{
    padding: 0 40px;
}
.hover{
    padding: 0 50px;
}