.box--block{
 display: flex;
}

hr{
    clear: both;
}
a{
    font-size:  18pt;
    color: rgb(187, 42, 42);
    text-decoration: none;

}
span{
    font-size: 18pt;
    color: rgb(189, 118, 25);
}
p{
    font-size: 14pt;
    text-align: justify;
    padding: 0 10px;
    margin: 10px;
    align-self: baseline;   
}

